body {
    font-family: Arial, sans-serif;
    background: linear-gradient(pink, rgb(231, 110, 245), pink);
    justify-content: center;
    align-items: center;
    color: rgb(43, 255, 0);
}

section {
    background-image: linear-gradient(to top, #fff0 0%, #fff 100%);
}



.poutine {
    width: 50px;
    height: 50px !important;
    border-radius: 50%;
    display: inline-flex;
}